<script lang='ts'>
    import SectionHeader from '$lib/components/SectionHeader.svelte'
</script>

# NDKPrivateKeySigner

This is the NDK PirvateKeySigner class.

<SectionHeader title="Properties" />

<SectionHeader title="cacheAdapter" subheader={true} />
