<script lang='ts'>
    import SectionHeader from '$lib/components/SectionHeader.svelte'
</script>

# NDKNip07Signer

This is the NDKNip07Signer class. 

<SectionHeader title="Properties" />

<SectionHeader title="cacheAdapter" subheader={true} />
