<script lang='ts'>
    import SectionHeader from '$lib/components/SectionHeader.svelte'
</script>

# NDKSubscriptionGroup

This is the NDKSubscriptionGroup class.

<SectionHeader title="Properties" />

<SectionHeader title="cacheAdapter" subheader={true} />
